
<aside _ngcontent-exl-c17="" class="main-sidebar sidebar-dark-primary elevation-4"><a _ngcontent-exl-c17=""
    href="index3.html" class="brand-link"><img _ngcontent-exl-c17="" src="../../../assets/img/AdminLTELogo.png"
        alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8;"><span
        _ngcontent-exl-c17="" class="brand-text font-weight-light">Patient  Panel</span></a>
<div _ngcontent-exl-c17="" class="sidebar">
    
    <nav _ngcontent-exl-c17="" class="mt-2">
        <ul _ngcontent-exl-c17="" data-widget="treeview" role="menu" data-accordion="false"
            class="nav nav-pills nav-sidebar flex-column">
            <li _ngcontent-exl-c17="" class="nav-item has-treeview"><a _ngcontent-exl-c17="" 
                class="nav-link"><i _ngcontent-exl-c17="" class="nav-icon fas fa-copyright"></i>
                <p _ngcontent-exl-c17=""> Bölgesel  <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul _ngcontent-exl-c17="" class="nav nav-treeview">
                <li _ngcontent-exl-c17="" class="nav-item"><a _ngcontent-exl-c17=""
                        class="nav-link"><i _ngcontent-exl-c17=""
                            class="far fa-circle nav-icon"></i>
                        <p _ngcontent-exl-c17="" routerLink="category">Kategoriler</p>
                    </a></li>
                    <li _ngcontent-exl-c17="" class="nav-item"><a _ngcontent-exl-c17=""
                        class="nav-link"><i _ngcontent-exl-c17=""
                            class="far fa-circle nav-icon"></i>
                        <p _ngcontent-exl-c17="" routerLink="addCategory">Kategori Ekle</p>
                    </a></li>
            </ul>
        </li>
        </ul>
    </nav>
</div>
</aside>